<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="DbRealm" />
	<!-- <property name="cacheManager" ref="cacheManager" /> -->	
	</bean>

	<!-- 自定义realm -->
	<bean id="DbRealm" class="com.cn.furious.shiro.DbRealm"/>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/home_ui" />
	
		<property name="filterChainDefinitions">
			<value>
				/Captcha.jpg = anon
				/resources/** = anon
				/Captcha.jpg = anon
				/login/timeout = anon
				/login = authc
				/logout = logout
				/styles/** = anon
			</value>
		</property>
	</bean>
	
	<!-- shiro自带的realm 
	<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
		<property name="dataSource" ref="dataSource" />
		<property name="authenticationQuery" value="select password from user where username = ?" />
		<property name="userRolesQuery"
			value="select r.role_name from user u, user_role ur, role r where u.id = ur.user_id and r.id = ur.role_id and u.username = ?" />
		<property name="permissionsQuery"
			value="select p.permission_name from role r, role_permission rp, permission p where r.id = rp.role_id and p.id = rp.permission_id and r.role_name = ?" />
		<property name="permissionsLookupEnabled" value="true" />
		<property name="cacheManager" ref="cacheManager" />
		<property name="credentialsMatcher" ref="passwordMatcher" />
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<bean id="passwordMatcher" class="org.apache.shiro.authc.credential.PasswordMatcher" />

	<bean id="passwordService"
		class="org.apache.shiro.authc.credential.DefaultPasswordService" />
	-->
	<!-- 用户授权信息Cache, 采用EhCache <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> 
		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/> 
		</bean> <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/> 
		<bean id="captchaFormAuthenticationFilter" class="com.ketayao.security.shiro.CaptchaFormAuthenticationFilter"/> 
		<bean id="baseFormAuthenticationFilter" class="com.ketayao.security.shiro.BaseFormAuthenticationFilter"/> -->
</beans>